<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-5">
        <div class="card-body">
          <h2 class="card-title text-center text-white py-3">{{ title }}</h2>
          <ul class="text-center list-inline py-3">
            <li class="list-inline-item">
              <a routerLink="/login" *ngIf="!loginService.loggedIn" class="btn btn-info">login</a>
            </li>
            <li class="list-inline-item">
              <a routerLink="/register" *ngIf="!loginService.loggedIn" class="btn btn-info">register</a>
            </li>
            <li class="list-inline-item">
              <a routerLink="/login" *ngIf="loginService.loggedIn" class="btn btn-info" (click)="logout()">logout</a>
            </li>
            <li class="list-inline-item">
              <a routerLink="/coffees" *ngIf="(loginService.loggedIn && loginService.admin)" class="btn btn-info">List coffees</a>
            </li>
            <li class="list-inline-item">
              <a routerLink="/addCoffee" *ngIf="(loginService.loggedIn && loginService.admin)" class="btn btn-info">Add coffee</a>
            </li>
            <li class="list-inline-item">
              <a routerLink="/orderCoffee" *ngIf="loginService.loggedIn" class="btn btn-info">order coffee</a>
            </li>
            <li class="list-inline-item">
              <a routerLink="/orderDetails" *ngIf="loginService.loggedIn" class="btn btn-info">make order</a>
            </li>
            <li class="list-inline-item">
              <a routerLink="/account" *ngIf="loginService.loggedIn" class="btn btn-info">account page</a>
            </li>

          </ul>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
