<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <nav class="navbar-nav">
      <alert></alert>
        <button mat-raised-button (click)="openDialog()" [disabled]="isDialogOpen == true" id="coffeeDialog">select Coffee</button>
    </nav>
  </div>
</nav>


